body{

    font-family: Roboto;
}

.container{

    background-color: #8E0E00;
    border-radius: 10px;
}

.main-area{
    background-color: white;
    width: 500px;
    /* height: 630px; */
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 20px;
    
}

.calculate-area{

    padding-left: 50px;
}

h3{
    
    background-color: #1F030C;
    color: white;
    padding: 10px 0;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

h5{

    padding: 20px 0;
}

.form-control{

    width: 75%;
}

#item-select{

    font-size: 25px;
}
#calculate{
    margin-left: 150px;
    margin-bottom: 15px;
}

h2{
    margin-top: 20px;
    display: none;
    font-size: 25px;
    color: steelblue;
}